<section class="container page">
  <article>
    <header style="display: flex; justify-content: space-between; align-items: baseline">
      <h1>{{ .Title }}</h1>

      <div>
        {{ with .Params.github_repo }}
        <a href="{{.}}" aria-label="Github" style="text-align: center; color: #212121">
          <i class="fab fa-github fa-2x" aria-hidden="true"></i>
        </a>
        {{end}}

        {{ with .Params.gitlab_repo }}
        <a href="{{.}}" aria-label="Gitlab" style="text-align: center; color: #212121">
          <i class="fab fa-gitlab fa-2x" aria-hidden="true"></i>
        </a>
        {{end}}

        {{ with .Params.homepage }}
        <a href="{{.}}" aria-label="Homepage" style="text-align: center; color: #212121">
          <i class="fas fa-home fa-2x" aria-hidden="true"></i>
        </a>
        {{ end }}
      </div>
    </header>

    {{ .Content }}
  </article>
</section>
